<%= render "search_box" %>
<dl id="books">

    <%= render 'books'%>

</dl>

<% if @cart %>
    <div id="shopping_cart">
      <div id="results"></div>
        <%= render 'cart/cart'%>
    </div>
<% end %>

<br><br>
<%= link_to "Back", :back %>




