<table>
    <tr>
        <th>Name</th>
        <% if current_user.email == "chino@gmail.com"%>
            <th>Edit</th>
            <th>Delete</th>
        <% end %>
    </tr>
    <%= render :partial => 'author', :collection => @authors %>
</table>

<!--<p><%= link_to 'Add a new author', :action => 'new' %></p>>-->
<p><%= link_to 'Add a new author',  new_author_path %></p>
